@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    list-style-type: none;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

  a{
    color: white;
    text-decoration: none;
  }

  /* Note that you only needs to edit the config to customize the button! */

.button-add {
  position: relative;
  width: 160px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #34974d;
  background-color: #3aa856;
  border-radius: 7px;
}

.button-add, .button__icon, .button__text {
  transition: all 0.3s;
  border-radius: 7px;
}

.button-add .button__text {
  transform: translateX(10px);
  color: #fff;
  font-weight: 600;
}

.button-add .button__icon {
  position: absolute;
  transform: translateX(120px);
  height: 100%;
  width: 39px;
  background-color: #34974d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-add .svg {
  width: 30px;
  stroke: #fff;
}

.button-add:hover {
  background: #34974d;
}

.button-add:hover .button__text {
  color: transparent;
}

.button-add:hover .button__icon {
  width: 100%;
  transform: translateX(0);
}

.button-add:active .button__icon {
  background-color: #2e8644;
}

.button-add:active {
  border: 1px solid #2e8644;
}
main{
  margin: 40px 80px 0;
}

.card {
  display: inline-block;
  width: 160px;
  height: 100px;
  background-color: #2e8644;
  border-radius: 7px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: none;
  margin-bottom: 10px;
  color: #fff;
  font-weight: bolder;
  margin-right: 10px;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.top {
  border-radius: 7px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  width: 140px;
  height: 10px;
}

.title {
  color: #fff;
  margin-left: 10px;
  margin-top: 70px;
  margin-right: 10px;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.kanban-list{
  display: inline;
}