@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    list-style-type: none;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.botaoParaLogin{
  color: white;
  text-decoration: none;
}
    .signup-form {
        width: 35vh;
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 10px;
        box-sizing: border-box;
        padding: 20px 30px;
        margin: auto;
        margin-top: 50px;
      }
      
      .title {
        text-align: center;
        margin: 10px 0 30px 0;
        font-size: 28px;
        font-weight: 800;
      }
      
      .form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 18px;
        margin-bottom: 15px;
      }
      
      .input {
        border-radius: 20px;
        border: 1px solid #c0c0c0;
        outline: 0 !important;
        box-sizing: border-box;
        padding: 12px 15px;
      }
      
      .page-link {
        text-decoration: underline;
        margin: 0;
        text-align: end;
        color: #747474;
        text-decoration-color: #747474;
      }
      
      .page-link-label {
        cursor: pointer;
        font-size: 9px;
        font-weight: 700;
      }
      
      .page-link-label:hover {
        color: #000;
      }
      
      .form-btn {
        padding: 10px 15px;
        border-radius: 20px;
        border: 0 !important;
        outline: 0 !important;
        background: #0d6efd;
        color: white;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      }
      
      .form-btn:active {
        box-shadow: none;
      }
      
      .sign-up-label {
        margin: 0;
        font-size: 10px;
        color: #747474;
      }
      
      .sign-up-link {
        margin-left: 1px;
        font-size: 11px;
        text-decoration: underline;
        text-decoration-color: #0d6efd;
        color: rgb(37, 197, 197);
        cursor: pointer;
        font-weight: 800;
      }
      